.wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }


  .wrapper-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    }
    
    .container-text {
        width: 250px;
        text-align: center;
    }

    // .qrcode {
    //   width: 200px;
    // }