<div class="picker">
  <ion-img
    role="button"
    class="image"
    (click)="onPickImage()"
    [src]="selectedImage"
    *ngIf="selectedImage && showPreview"
  ></ion-img>
  <ion-item>
    <ion-button class="ion-text-center" color="primary" fill="clear" (click)="onPickImage()" *ngIf="!selectedImage || !showPreview">
      <ion-icon name="camera" slot="start"></ion-icon>
      <ion-label>Take Picture</ion-label>
    </ion-button>
  </ion-item>
</div>
<ion-item lines="none">
  <input
    type="file"
    accept="image/jpeg"
    *ngIf="usePicker"
    #filePicker
    (change)="onFileChosen($event)"
  />
</ion-item>
