<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/tabs/tab/profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="name"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row
        *ngIf="
          !form.get('name').valid && form.get('name').touched
        "
      >
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label>Name must be between 1 and 18 characters.</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Photo</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="photo"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row> -->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <app-image-picker
            (imagePick)="onImagePicked($event)"
          ></app-image-picker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            type="submit"
            expand="block"
            color="primary"
            (click)="onUpdateUserInfo()"
            [disabled]="!form.valid"
          >Update</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
