<ion-toolbar style="margin-top: 10px;">
  <ion-searchbar  (ionInput)="search($event)"></ion-searchbar>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3" class="ion-text-center" *ngIf="isLoading">
        <div class="wrapper">
          <div class="container-text">
            <ion-spinner color="primary"></ion-spinner>
          </div>
        </div>
      </ion-col>
      <ion-col
        size-md="6"
        offset-md="3"
        *ngIf="!isLoading && (!filterseachedRestocards && loadedrestocards.length <= 0)"
        class="ion-text-center"
      > 
      <div class="wrapper">
        <div class="container-text">
          <p>No Restaurants found!</p>
        </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!filterseachedRestocards">
    <ion-row *ngFor="let card of loadedrestocards " >
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-content style="text-align: left; padding: 0;">
            <ion-card-header style="padding: 0;">
              <ion-img [src]="card.photo"></ion-img>
            </ion-card-header>
            <div style="padding: 10px; display: flex; justify-content: space-between;">
              <div>
                <ion-card-title>{{ card.name }}</ion-card-title>
                <ion-card-subtitle>{{ card.address }}</ion-card-subtitle>
              </div>
              <ion-buttons slot="primary">
                <ion-button (click)="createusercard(card.photo, card.name, card.address, card.userId)">
                  <ion-icon name="add" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="filterseachedRestocards">
    <ion-row *ngFor="let card of filterseachedRestocards ">
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-content style="text-align: left; padding: 0;">
            <ion-card-header style="padding: 0;">
              <ion-img [src]="card.photo"></ion-img>
            </ion-card-header>
            <div style="padding: 10px; display: flex; justify-content: space-between;">
              <div>
                <ion-card-title>{{ card.name }}</ion-card-title>
                <ion-card-subtitle>{{ card.address }}</ion-card-subtitle>
              </div>
              <ion-buttons slot="primary">
                <ion-button (click)="createusercard(card.photo, card.name, card.address, card.userId)">
                  <ion-icon name="add" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
